.Rproj.user
.Rhistory
.RData
.Ruserdata

*.json
*.zip
*.tif
*.html
*.gif
*.rds
.scrap/*
.not_published/*
exploration/rsconnect/*
*.env
exploration/data_simplification_work/rsconnect/*
exploration/data_simplification_work/qgis/*
